# <font color=blue>Assignments for "Main Statistical Concepts"</font>

Please upload your solutions to the following assignments as Jupyter Notebook to your GitHub account and share the GitHub link with the button below. You can talk to your mentor about the issues you have in mind or ask Slack at office time.

1. Analyze the central tendency and distribution measurements with the mathematical formula given above and the built-in codes available in python through 3 different data that you will generate using the numpy library !!!

In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt

df = pd.DataFrame([np.random.normal(75,10,100),np.random.normal(70,15,100),np.random.normal(65,20,100)])
display(df)
print("Mean of the each row in the data frame that is named as df:\n\
1.Row:{:.2f}\n2.Row:{:.2f}\n3.Row:{:.2f}".format(df.iloc[0].astype(float).mean(),df.iloc[1].astype(float).mean(),
                                     df.iloc[2].astype(float).mean()))
print("Median of the each row in the data frame that is named as df:\n\
1.Row:{:.2f}\n2.Row:{:.2f}\n3.Row:{:.2f}".format(df.iloc[0].astype(float).median(),df.iloc[1].astype(float).median(),
                                     df.iloc[2].astype(float).median()))
print("Mode of the each row in the data frame that is named as df:\n\
1.Row:{:.2f}\n2.Row:{:.2f}\n3.Row:{:.2f}".format(stc.mode(df.iloc[0].astype(float)),stc.mode(df.iloc[1].astype(float)),
                                     stc.mode(df.iloc[2].astype(float))))
print("Variance of the each row in the data frame that is named as df:\n\
1.Row:{:.2f}\n2.Row:{:.2f}\n3.Row:{:.2f}".format(np.var(df.iloc[0].astype(float)),np.var(df.iloc[1].astype(float)),
                                     np.var(df.iloc[2].astype(float))))
print("Standart Deviation of the each row in the data frame that is named as df:\n\
1.Row:{:.2f}\n2.Row:{:.2f}\n3.Row:{:.2f}".format(np.std(df.iloc[0].astype(float)),np.std(df.iloc[1].astype(float)),
                                     np.std(df.iloc[2].astype(float))))
print("Standart Error of the each row in the data frame that is named as df:\n\
1.Row:{:.2f}\n2.Row:{:.2f}\n3.Row:{:.2f}".format(np.std(df.iloc[0].astype(float))/np.sqrt(len(df.iloc[0].astype(float))),
                                                 np.std(df.iloc[1].astype(float))/np.sqrt(len(df.iloc[0].astype(float))),
                                                 np.std(df.iloc[2].astype(float))/np.sqrt(len(df.iloc[0].astype(float)))))

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,83.882075,86.658077,85.089066,74.279566,71.075930,92.229695,76.020885,53.120536,73.610098,69.333506,...,66.394915,65.009472,68.816591,90.934041,68.794701,81.023252,69.315084,71.796388,68.549886,62.013719
1,61.461594,74.950612,91.498023,74.596233,73.081751,91.660481,94.123171,68.595231,53.544932,60.544056,...,76.710574,67.757828,93.473804,73.468398,76.423122,87.329676,55.085176,61.829288,52.079733,65.489385
2,79.907628,71.050751,84.250873,52.777619,54.185701,95.781009,57.553050,53.620208,58.670168,60.091297,...,95.041788,78.124495,79.799778,76.399588,78.166604,101.746894,57.523449,98.878209,70.439888,72.205855

Mean of the each row in the data frame that is named as df:
1.Row:75.02
2.Row:70.26
3.Row:66.74
Median of the each row in the data frame that is named as df:
1.Row:74.97
2.Row:70.42
3.Row:66.77
Mode of the each row in the data frame that is named as df:
1.Row:83.88
2.Row:61.46
3.Row:79.91
Variance of the each row in the data frame that is named as df:
1.Row:114.75
2.Row:252.05
3.Row:320.34
Standart Deviation of the each row in the data frame that is named as df:
1.Row:10.71
2.Row:15.88
3.Row:17.90
Standart Error of the each row in the data frame that is named as df:
1.Row:1.07
2.Row:1.59
3.Row:1.79