# <font color=blue>Assignments for "Data Exploration - Multivariate Analysis"</font>

In this assignment, you will continue to study the data of the `US Education System` ([dataset](https://www.kaggle.com/spscientist/students-performance-in-exams/home)). You can reach the explanations of this data from Kaggle again.

To complete this assignment, submit the Github link of the Jupyter notebook file containing solutions to the questions below. You can talk to your mentor on your head or ask Slack at office time.

**(1)** Does the performance in the exams vary according to gender, origin and education level of parents?

In [1]:
import numpy as np
import pandas as pd
import scipy as sci
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings("ignore")

In [2]:
edu = pd.read_csv(r"C:\Users\Kleerys\Desktop\Career\1.1-Python\1.1-DataSets\StudentsPerformance.csv")

In [3]:
edu["isMale"] = pd.get_dummies(edu.gender, drop_first = True)
edu.drop("gender", axis = 1, inplace = True)

In [4]:
edu.head()

,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,isMale
0,group B,bachelor's degree,standard,none,72,72,74,0
1,group C,some college,standard,completed,69,90,88,0
2,group B,master's degree,standard,none,90,95,93,0
3,group A,associate's degree,free/reduced,none,47,57,44,1
4,group C,some college,standard,none,76,78,75,1

In [5]:
eduMath = pd.DataFrame(edu.groupby(by = "isMale")["math score"].mean())

In [6]:
display(eduMath)

        math score
isMale
0        63.633205
1        68.728216

In [7]:
eduReading = pd.DataFrame(edu.groupby(by = "isMale")["reading score"].mean())

In [8]:
display(eduReading)

        reading score
isMale
0           72.608108
1           65.473029

In [9]:
eduWriting = pd.DataFrame(edu.groupby(by = "isMale")["writing score"].mean())

In [10]:
display(eduWriting)

        writing score
isMale
0           72.467181
1           63.311203

In [20]:
print((edu.isMale == 1).sum())
print((edu.isMale == 0).sum())

482
518

***According to datas above, we can say male students is more succesful for all score type.***

**(2)** Does lunch type have a relationship with exam performances? How can you explain this, if any?

In [24]:
eduLunchMath = pd.DataFrame(edu.groupby(by = "lunch")["math score"].mean())

In [25]:
display(eduLunchMath)

              math score
lunch
free/reduced   58.921127
standard       70.034109

In [26]:
eduLunchReading = pd.DataFrame(edu.groupby(by = "lunch")["reading score"].mean())

In [28]:
display(eduLunchReading)

              reading score
lunch
free/reduced      64.653521
standard          71.654264

In [29]:
eduLunchWriting = pd.DataFrame(edu.groupby(by = "lunch")["writing score"].mean())

In [30]:
display(eduLunchWriting)

              writing score
lunch
free/reduced      63.022535
standard          70.823256

***The students that pay for the lunch more succesful for any score.***

**(3)** Does the preparation courses have an impact on exam performance?

In [32]:
eduPreMath = pd.DataFrame(edu.groupby(by = "test preparation course")["math score"].mean())

In [33]:
display(eduPreMath)

                         math score
test preparation course
completed                 69.695531
none                      64.077882

In [34]:
eduPreReading = pd.DataFrame(edu.groupby(by = "test preparation course")["reading score"].mean())

In [35]:
display(eduPreReading)

                         reading score
test preparation course
completed                    73.893855
none                         66.534268

In [37]:
eduPreWriting = pd.DataFrame(edu.groupby(by = "test preparation course")["writing score"].mean())

In [38]:
display(eduPreWriting)

                         writing score
test preparation course
completed                    74.418994
none                         64.504673

***Test preparation course has a positive effect on scores.***

**(4)** Which lessons are most correlated with each other?

In [39]:
edu.corr()

               math score  reading score  writing score    isMale
math score       1.000000       0.817580       0.802642  0.167982
reading score    0.817580       1.000000       0.954598 -0.244313
writing score    0.802642       0.954598       1.000000 -0.301225
isMale           0.167982      -0.244313      -0.301225  1.000000

***Math and reading.***