In [35]:
import pandas as pd
indexNum = {"alphabet":["a","b","c","d","e","f","g","h","i","j"]}
dictPanda = {"Fib":[1,1,2,3,5,8,13,21,34,56],
             "Prime":[2,3,5,7,11,13,17,19,23,29]}
print(dictPanda)
df = pd.DataFrame(dictPanda, index = indexNum["alphabet"])
display(df)

{'Fib': [1, 1, 2, 3, 5, 8, 13, 21, 34, 56], 'Prime': [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]}

   Fib  Prime
a    1      2
b    1      3
c    2      5
d    3      7
e    5     11
f    8     13
g   13     17
h   21     19
i   34     23
j   56     29